@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav mr-auto">
        <li>
            @Html.ActionLink(User.Identity.GetUserName() + "さん", "Index", "Manage", routeValues: null, htmlAttributes: new { area = "" })
            @*@Html.ActionLink("こんにちは、" + User.Identity.GetUserName() + "さん", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "navbar-brand", area = "" })*@
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">ログオフ</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav mr-auto">
        <li>@Html.ActionLink("登録", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", area = "" })</li>
        <li>@Html.ActionLink("ログイン", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", area = "" })</li>
    </ul>
}
