/*body {
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-image: linear-gradient(180deg,#FFFFFF, #126B81);
    padding-top: 70px;
    min-height:800px;
}

.point-card {
    color: #757575;
    border: solid #757575 2.5px;
    background-color: azure;
    /*color:white;
    border: solid white 2.5px;*/
    cursor: pointer;
    border-radius: 10px;
    height: 100px;
    text-align: center;
    margin: 10px;
    box-shadow: 5px 5px 5px gray;
}

    .point-card:hover {
        background-color: #FFC107;
        box-shadow: 1px 1px 1px gray;
        color: #333333;
    }

.point-number{
    font-size:36px;
    font-family: fantasy;
}

.point-summary-content {
    margin: 5px;
    text-align: center;
    min-height: 120px;
    border: solid #FFC107 5px;
    margin: 10px;
    color: #757575;
    border-radius: 30px;
}

.point-summary{
    min-height:160px;
    margin-bottom:30px;
    padding-bottom:2px;
    border-bottom:2px solid white;
}

.point-number-large {
    font-size: 48px;
    font-family: fantasy;
}

.point-summary-content > p{
    padding-top: 10px;
}

.social-login-button-google {
    background: url(img/btn_google_signin_light_normal_web.png);
    width:193px;
    height:48px;
    border:0px;
}